.root-interface__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 720px;
}

.root-interface__container h2 {
    font-size: 3rem;
    padding: 10px;
    color: #fff;
    margin-bottom: 5rem;
}

.root-interface__container button {
    background-color: #222222;
    font-size: 1.8rem;
    padding: 15px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 115px;
}



.root-interface__container button:hover {
    background-color: #333;
}

@media only screen and (max-width: 800px) {

    .buttons__container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}