.root-interface__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    margin-top: 10rem;
}

.root-interface__container h2{
    font-size: 3rem;
    padding: 10px;
    color: #fff;
    margin-bottom: 5rem;
}

.root-interface__container button {
    padding: 5px;
    margin: 5px 10px;
    font-weight: bold;
    font-size: 2.3rem;
    background-color: var(--dark-red);
    color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid white;
}

.root-interface__container button:hover {
    background-color: white;
    color: var(--dark-red);
    border: 1px solid var(--dark-red);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}