.contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
    .contenedor-contacto{
        flex-direction: column;
    }

    .form__container {
        border-radius: 15px;
    }

    .social-container {
        border-radius: 15px;
    }
}