.supercontainer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto-form__container form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.producto-form__container label {
    font-size: 2.2rem;
}

.producto-form__container input {
    padding: 5px;
    border-radius: 15px;

}

.producto-form__container button {
    padding: 5px;
    float: left;
    border-right: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 15px 17px;
    border: 2px solid rgb(193, 193, 193);
    box-shadow: none;
    font-size: 1.8rem;
    background-color: white;
}

.producto-form__container button:hover {
    background-color: #374151;
    color: white;
}

.producto-form__container ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    bottom: 0;
    width: 500px;
    border-radius: 50px;
}

#crear-categoria__link {
    width: 300px;
    border-radius: 50px 0px 0px 50px;
}

#cerrar__link {
    width: 200px;
    border-radius: 0px 50px 50px 0px;
}

.links-icons {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    fill: blue;
}

