.gallery {
    margin: 50px 250px 0px 250px;
    position: relative;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

@media only screen and (max-width: 1050px)  {
    .gallery {
        margin: 0px;
        -webkit-column-count: 3;
        -moz-column-count: 2;
        column-count: 1;
    }
}