

.navbar-list {
    // background-color: var(--navbar-color);
    height: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    // border-bottom: 3px solid var(--dark-red);
    // box-shadow: 0 2px 4px #a8003869;
}

#logo-header {
    width: 100px;
    margin-left: 70px;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 1;
}

.nav-btn {
    width: 50px;
    height: auto;
    color: white;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

#logo-header:hover {
    cursor: pointer;
}

.header-link {
    list-style: none;
    text-decoration: none;
    color: var(--white-logo);
    margin-right: 70px;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    transition: transform 0.3s ease;
    // border: 2px solid var(--navbar-color);
}

.header-link:hover {
    color: var(--dark-red);
    // border-bottom: 2px solid var(--dark-red);
    border-radius: 3px;
    padding-bottom: 7px;
    transform: scale(1.2);
    transform-origin: center;
    cursor: pointer;
}

.mobile {
    display: none;
}