.home-container {
    position: relative;
    height: calc(100vh + 115px);
    top: -115px;
    z-index: 1;
}

.background {
    position: relative;
    width: 100%;
    height: calc(100% - 115px);
    background-image: url(../assets/menu-trago.webp);
    z-index: -1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hr-divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
}