.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 15px 30px 5px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(255, 0, 0, 0.2);
}

.login-container h2 {
    font-size: 3.2rem;
    color: black;
}

.login-container button {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 15px;
    background-color: var(--dark-red);
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 7px;
}

.login-container button:hover {
    background-color: #333;
}

.login-container p {
    font-size: 2rem;
    color: red;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.login-form input {
    padding: 3px;
    margin-top: 10px;
}