.mobile {
    display: none;
}

.desktop {
    display: flex;
}

@media only screen and (min-width: 900px) {
    .about-title__container {
        margin-left: 90px;
    }
}

@media only screen and (max-width: 850px) {

    //HEADER
    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .header-link {
        margin-right: 0px;
        margin-top: 10px;
        font-size: 2.5rem;
    }

    #inicio-link {
        margin-top: 280px;
    }

    .nav-btn {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    #logo-header {
        position: fixed;
    }

    .logo-container {
        position: fixed;
        top: 5px;
        left: 0px;
        display: flex;
        align-items: center;
        z-index: 9999;
    }
    
    .background-shape {
        width: 100px;
        height: 80px;
        background-color: black;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        border-radius: 0 50px 50px 0;
        z-index: 2;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;
        background-color: var(--black);
        transition: 1s;
        transform: translateY(-100vh);
        border-bottom: 3px solid var(--dark-red);
        z-index: 2;
    }

    .home-container {
        top: 0;
    }

    .responsive_nav {
        transform: none;
    }

    #logo-header {
        margin: 10px;
        width: 80px;
        top: 0;
    }

    //BANNER 
    .contenedor-banner p {
        font-size: 1.8rem;
    }

    // .banner-btn {
    //     margin-top: 6rem;
    // }

    .banner-direccion {
        margin-top: 3.5rem;
    }

    //about 
    .about-title__container {
        margin-left: 20px;
    }

}



@media only screen and (max-width: 425px) {

    //BANNER
    .contenedor-banner p {
        font-size: 1.6rem;
    }

    // .banner-btn{
    //     margin-top: 4.5rem;
    // }

    .banner-direccion {
        margin-top: 2.5rem;
    }

    .contenedor-banner .btn {
        font-size: 1.7rem;
    }

    //FOOTER
    .footer-links-div {
        margin: 1rem 0;
    }


    //ENTRADA

    #entrada-title {
        font-size: 3rem;
        padding: 15px 0;
    }

    #entrada-subtitle {
        font-size: 1.5rem;
        padding: 5px 0 10px 0;
    }

    .entradaweb__container-izq {
        width: 80%;
    }

    .entradaweb__container-izq .btn {
        font-size: 1.4rem;
    }

}