.tables__container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

.table {
    
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 2.6rem;
    color: white;
    width: 100%;
}

.square {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.food-title {
    color: white;
    font-size: 7rem;
    border-bottom: 2px solid var(--dark-red);
    margin-bottom: 10px;

}

.img__container {
    display: flex;
    justify-content: flex;
    margin: 30px 0px 30px 0px;
}

.square-left img {
    width: 25vw;
    height: 25vh;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 95px;
}

.foto-responsive img {
    display: none;
    width: 30vw;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

//td productos y precios
.td {
    padding: 15px 30px 15px 30px;
}

.descripcion {
    font-size: 1.5rem;
    color: rgb(192, 192, 192);
    padding: 0px 30px 0px 30px;
}

.tr-grid {
    display: grid;
    grid-template-columns: 70% 30%;
}

@media only screen and (max-width: 800px) {

    .td {
        padding: 0px;
    }

    .descripcion {
        padding: 0px 0px 10px 0px;
    }

    .food-title {
        font-size: 4rem;
        padding: 40px 0px 0px 0px;
    }

    .descripcion {
        font-size: 1rem;
    }

    .tables__container {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }

    .square-left {
        display: none;
    }

    .img__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px 30px 0px;
    }

    .foto-responsive img {
        display: flex;
        width: 55vw;
        height: 25vh;
    }

    .table {
        font-size: 1.7rem;
    }

    .square {
        padding: 0px 15px 0px 15px;
    }

}