.readeventos__container {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
}

.readeventos__container h2 {
    font-size: 3rem;
    text-align: center;
    padding: 15px;
}

.linkeventos {
    justify-content: center;
}

.readeventos__container th {
    width: 40%;
}

.readeventos__container td {
    border-bottom: 1px solid black;
}