.update__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 150px 0px 70px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
}

.update-form__container {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.update-form__container label {
    font-size: 1.6rem;
    margin-top: 5px;
}

.update-form__container input,
.update-form__container textarea {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.update-form__container textarea {
    resize: vertical;
}

.update-form__container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    font-size: 1.6rem;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.update-form__container button:hover {
    background-color: #333;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 265px;
}

.button-icons {
    font-size: 2rem;
    margin-left: 7px;
}

#first-button {
    border-right: 2px solid #ccc;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .update-form__container input,
    .update-form__container textarea {
        width: 100%;
    }
}