.btn-wsp{
    position: fixed;
    width: 45px;
    height: 45px;
    line-height: 51px;
    bottom: 12px;
    right: 12px;
    // background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 3rem;
    z-index: 100;
}

.btn-wsp:hover{
    text-decoration: none;
    color: var(--dark-red);
}